#iframe-playground {
  width: 100%;
  height: 100%;
}

.playground {
  transition: height 0.5s ease-in-out;
  height: 50%;
  display: flex;
  overflow-y: hidden;
  background-color: #ccc;
}

.playground.closed {
  height: 0%;
}

.reveal.open {
  height: 100%;
}

.editor,
.render {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.editor {
  max-width: 50%;
}

.render {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 2px;
}

.editor .CodeMirror.hidden {
  display: none;
}

.editor .CodeMirror {
  flex: 1;
}

.editor p {
  background-color: gray;
  color: white;
  padding: 2px;
  text-align: center;
}

.render input {
}

.shortcut {
}

.pimped-input {
  color: teal;
  margin: 0;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  border: transparent solid 2px;
  border-radius: 0.4rem;
  transition: border 0.3s ease-in-out;
}

.email-error {
  font-size: .95rem;
  color: red;
}

.pimped-input::placeholder {
    color: #B0BEC5;
}

.pimped-input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
  border: teal solid 2px;
}

.reveal {
  height: 50%;
  transition: height 0.5s ease-in-out;
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-family: Arial;
}

.tabs p {
  cursor: pointer;
  flex: 1;
  background-color: #ccc;
}

.tabs p.selected {
  background-color: rgb(142, 142, 146);
  font-weight: bold;
}


.doc-link {
  background-color: #5998c5;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  top: 2rem;
  transition: scale 0.2s;
  display: block;
  width: min-content;
  cursor: pointer;
}

.link-wrapper {
  width: min-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-wrapper .doc-link {
  margin: 1rem;
}

.doc-link:hover {
  transform: scale(1.2);
}

.footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: 3rem;
  z-index: 10;
}